@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@300;400&display=swap');

:root {
  --primary: #404040;
  --primary-light: #b8b8b8;
  --primary-subtle: #696969;
  --primary-transparent: rgba(64, 64, 64, 0.5);
  --secondary: #db4a63;
  --secondary-dark: #a22237;
  --secondary-light: #eda2ae;
  --secondary-transparent: rgba(219, 74, 99, 0.5);
  --secondary-subtle: #ffe9ec;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Mulish', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--primary);
  background-color: #FFFBFB;
}

#wrapper {
  flex: 1;
}

p,
h1,
h2,
h3,
h4 {
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
}

strong {
  font-weight: 600;
}
