@mixin button {
  display: inline-block;
  // background-color: rgba(255, 255, 255, 0.5);
  background-color: var(--secondary);
  color: #fff;
  // color: var(--secondary);
  text-decoration: none;
  font: inherit;
  border: none;
  line-height: 1rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  // border: 1.5px solid var(--secondary);
  border-radius: 15px;
}

.btn {
  @include button;
}

.btn-lg {
  font-size: 115%;
  border-radius: 20px;
  padding: 0.75rem 1.25rem;
}

.btn-animate {
  box-shadow: 0 0 0 1px rgba(219,73,99,0);
  animation: 1s infinite alternate pulse;
  transition: background 137ms ease-out;
  &:hover {
    animation: none;
    background: var(--primary);
  }
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 1px rgba(219,73,99,0) }
  100% { box-shadow: 0 0 0 10px rgba(219,73,99,0.2); }
}

// nav trigger

button#show-modal {
  padding: 15px;
  background: transparent;
  border: 1px solid var(--secondary);
  border-radius: 4px;
  svg {
    width: 20px;
    fill: var(--secondary-light);
    transition: fill 123ms ease-out;
  }
  &:hover {
    svg {
      fill: var(--secondary);
    }
  }
}