@mixin button {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--secondary);
  text-decoration: none;
  font: inherit;
  border: none;
  line-height: 1rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border: 1.5px solid var(--secondary);
  border-radius: 15px;
}

.btn {
  @include button;
}

.btn-lg {
  font-size: 115%;
  border-radius: 20px;
}

// nav trigger

button#show-modal {
  padding: 15px;
  background: transparent;
  border: 1px solid var(--secondary);
  border-radius: 4px;
  svg {
    width: 20px;
    fill: var(--secondary-light);
    transition: fill 123ms ease-out;
  }
  &:hover {
    svg {
      fill: var(--secondary);
    }
  }
}