dialog#menu-modal {
  width: 70%;
  svg.logo-mark {
    width: 150px;
    margin-bottom: 5rem;
  }
  ul {
    li {
      margin-bottom: 2rem;
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #eda2ae;
        text-decoration: none;
        transition: color 171ms ease-out;
        svg.arrow {
          opacity: 0;
          margin-left: 5px;
          transition: all 171ms ease-out;
        }
        svg.home-icon {
          transition: transform 171ms ease-out;
        }
        &:hover {
          color: var(--secondary);
          svg.arrow {
            opacity: 1;
            margin-left: 20px;
          }
          svg.home-icon {
            transform: scale(1.2);
          }
        }
      }
      svg.home-icon {
        width: 45px;
        margin-left: -5px;
        fill: #fff;
      }
      svg.arrow {
        fill: #fff;
        height: 15px;
      }
      small {
        font-size: 0.85rem;
        line-height: 0.5rem;
        opacity: 0.5;
      }
    }
    li.home-lnk {
      span {
        padding-left: 1rem;
        opacity: 0;
        transition: opacity 171ms ease-out;
        font-size: 90%;
      }
      &:hover {
        span {
          opacity: 1;
        }
      }
    }
  }
}