#menu-modal {
  svg.logo-mark {
    width: 150px;
    margin-bottom: 5rem;
  }
  ul {
    li {
      margin-bottom: 1rem;
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: inherit;
        text-decoration: none;
        transition: color 171ms ease-out;
        svg {
          opacity: 0;
          margin-left: 5px;
          transition: all 171ms ease-out;
        }
        &:hover {
          color: var(--secondary);
          svg {
            opacity: 1;
            margin-left: 20px;
          }
        }
      }
      svg.arrow {
        fill: #fff;
        width: 12px;
      }
    }
  }
}