.sidebar {
  padding-right: 5rem;
  #book-appt {
    display: block;
    background: #fff;
    color: var(--primary);
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--primary);
    transition: background 131ms ease-out;
    span {
      display: inline-block;
      border: 2px solid var(--secondary);
      border-radius: 38px;
      padding: 15px;
      margin-top: -30px;
      background: #fff;
      svg {
        width: 30px;
        fill: var(--secondary);
      }
    }
    p {
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;
      i {
        display: block;
        font-style: normal;
        font-size: 1rem;
        font-weight: 400;
      }
    }
    &:hover {
      background: var(--secondary-subtle);
    }
  }
}

.sidebar.services-sidebar {

}

.sidebar.contact-sidebar {

}