.sidebar {
  padding-right: 4rem;
  #book-appt {
    display: block;
    background: #fff;
    color: var(--primary);
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--primary);
    transition: background 131ms ease-out;
    span {
      display: inline-block;
      border: 2px solid var(--secondary);
      border-radius: 38px;
      padding: 15px;
      margin-top: -30px;
      background: #fff;
      svg {
        width: 30px;
        fill: var(--secondary);
      }
    }
    p {
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;
      i {
        display: block;
        font-style: normal;
        font-size: 1rem;
        font-weight: 400;
      }
    }
    &:hover {
      background: var(--secondary-subtle);
    }
  }
}

.sidebar.services-sidebar {
  ul {
    padding-top: 2rem;
    text-align: center;
    li {
      font-size: 1.15rem;
      a {
        color: var(--secondary);
        text-decoration: none;
        font-weight: 600;
        &:hover {
          color: var(--primary);
        }
      }
      &:after {
        content: '';
        display: block;
        height: 0;
        border-top: 1px solid #999;
        width: 25%;
        margin: 1rem auto;
      }
      &:last-child:after {
        border-color: transparent;
      }
    }
  }
}

@media (min-width: 768px) {
  .sidebar.services-sidebar {
    ul {
      text-align: left;
      li {
        &:after {
          margin: 1rem 0;
        }
      }
    }
  }
}

.sidebar.contact-sidebar {

}