input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  border: 1px solid #ccc;
  transition: all 131ms ease-out;
  width: 75%;

  &:focus-visible {
    outline: 3px solid var(--gray-1);
    outline-offset: 0;
  }
}

label {
  display: block;
  font-size: 95%;
  font-weight: 400;
}

#my-form-status {
  padding-block: 2rem;
  width: 75%;
}

#my-form-button {
  margin-top: 2rem;
}

#my-form-status {
  border: 1px solid var(--secondary);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--secondary-d2);
  background: var(--secondary-l1);
  opacity: 0;
  transition: opacity 131ms ease-out;
}

#my-form-status.success {
  opacity: 1;
}