@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;1,300;1,400&family=Roboto+Slab:wght@300&display=swap');

@import "./reset/main.css";

@import './utils.css';
@import './base.css';
@import './buttons.css';
@import './forms.css';
@import './header.css';
@import './nav.css';
@import './mobile-nav.css';
@import './home.css';
@import './services.css';
@import './contact.css';
@import './footer.css';
@import './cta.css';

:root {
  --body-font: clamp(1rem, 3vw, 1.25rem);
  --body-font-colour: var(--gray-7);
  --header-colour: var(--gray-9);
}
