#meet-dr-pecko {
  padding-block: 2rem;
  background: #ede3df;

  & .container {
    display: flex;
    align-items: center;

    & img {
      display: none;
      width: 400px;
    }

    @media (min-width: 768px) {
      & img {
        display: block;
      }
    }
  }

  @media (min-width: 768px) {
    padding-block: 0;
  }
}

#staff-headshots {
  & ul {
    display: grid;
  }
}

.services-list {
  & h3 {
    font-size: 1.5rem;
  }
  & img {
    max-width: 65%;
  }
}

.services-list ul {
  display: grid;
  
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

#getting-started {
  & .container {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 3rem;
    }
  }
}

.technology {
  & .blob-img {
    margin-top: -15rem;
    margin-bottom: 3rem;
  }
  
  & .technology-list {
    & li,
    & p {
      margin-block-end: 2rem; 
    }
  }
}

#services-intro {
  & .container {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
    }
    @media (min-width: 960px) {
      gap: 5rem;
    }
  }
}