.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.columns {
  display: grid;
}

.columns.two-columns {
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

figure.body-quote {
  display: block;
}

.large-pad {
  padding-block: 3rem;
}

.x-large-pad {
  padding-block: 5rem;
}

.blob-img {
  border-radius: 30% 70% 70% 30% / 53% 30% 70% 47%;
  outline: 8px solid var(--secondary-l2);
  max-inline-size: 450px;
}

/* svg fills */

.light-fill {
  fill: var(--gray-7);
}

.dark-fill {
  fill: var(--gray-7);
}

.auto-left-margin {
  margin-inline-start: auto;
}

/* hr */

hr.highlight {
  position: relative;
  border: 0;
  border-top: 1px solid var(--secondary-l4);
  margin-inline: auto;
  overflow: visible;
}

hr.highlight:before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(50% - 1rem);
  width: 2rem;
  height: 2.5rem;
  margin-top: -1.25rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 52'%3E%3Cpath d='m22.734 52.14-1.02-1.4c-.66-.91-16.18-22.26-16.18-31.37 0-9.49 7.72-17.2 17.2-17.2 9.49 0 17.2 7.72 17.2 17.2 0 9.11-15.52 30.47-16.18 31.37l-1.02 1.4Z' style='fill-opacity:0'/%3E%3Cpath d='M33.14 17.23c0 8.8-15.94 30.62-15.94 30.62S1.27 26.03 1.27 17.23 8.4 1.29 17.2 1.29s15.94 7.13 15.94 15.94z' style='fill:%23fff'/%3E%3Cpath fill='%23e68092' d='m17.2 50-1.02-1.4C15.52 47.69 0 26.34 0 17.23 0 7.74 7.72.03 17.2.03c9.49 0 17.2 7.72 17.2 17.2 0 9.11-15.52 30.47-16.18 31.37L17.2 50zm0-47.44c-8.09 0-14.67 6.58-14.67 14.67 0 7.03 11.18 23.48 14.67 28.44 3.49-4.96 14.67-21.41 14.67-28.44 0-8.09-6.58-14.67-14.67-14.67z'/%3E%3Cpath fill='%23e68092' d='M25.17 15.6c-.44-2.4-2.34-4.23-4.73-4.54-.95-.12-2 .03-2.91.42l-.33.14-.33-.14c-.91-.39-1.95-.54-2.91-.42-2.39.31-4.3 2.13-4.73 4.54-.09.5-.09 1.39.01 1.89.12.64.27 1.01 1.2 3.02.73 1.59.89 1.97.87 2.05-.06.25-.09 1.07-.06 1.74.14 2.83.85 5.4 1.79 6.42.26.29.48.43.78.54.48.16.6.1.88-.48.23-.48.5-1.26 1.03-3.01.81-2.66 1.16-3.52 1.47-3.51.3-.01.66.85 1.47 3.51.53 1.74.8 2.53 1.03 3.01.29.59.4.65.88.48.31-.1.52-.25.78-.54.93-1.02 1.65-3.59 1.79-6.42.04-.67.01-1.5-.06-1.74-.02-.09.14-.46.87-2.05.93-2.01 1.08-2.38 1.2-3.02.1-.5.11-1.39.01-1.89z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
}