<head>
  <meta charset="utf-8">
  <title>Dr. Beata Pecko DDS - Proudly serving the Windsor-Essex region</title>

  {{ with resources.Get "css/main.css" | postCSS }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{ end }}

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Dr. Beata Pecko proudly serves the Windsor-Essex region, offering a wide range of dental services that utitilize cutting edge technology. Our professional, compassionate staff are on hand to ensure your visit is comfortable and stress-free. We prioritize the education and wellbeing of our patients." />

  <meta name="og:image" content="/img/logo-lg.png">
  <meta name="og:url" content="https://drbeatapecko.com">
  <meta name="og:site_name" content="Dr. Beata Pecko">
  <meta name="og:locale" content="en_CA">
  <meta name="og:type" content="website">
  <link rel="shortcut icon" type="image/png" href="/img/icons/favicon.png" />
  <link href="/img/icons/favicon.ico" rel="shortcut icon">
  <link href="/img/icons/touch.png" rel="apple-touch-icon-precomposed">

  <link href="//www.google-analytics.com" rel="dns-prefetch">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>