<header class="header home-header">
  {{ partial "header-main.html" . }}
  <div class="home-header-inner">
    <div class="container">
      <div class="header-meta">
        <blockquote>
          {{ partial "icons/quote-left.svg" . }}
          Our clients' comfort and safety are our number one priority at all times
          <cite>Dr. Beata Pecko, DDS</cite>
        </blockquote>
        <div class="meta-cta">
          <a class="btn pill home-header-appt" href="/contact">Book an Appointment</a>
          <p>or call <a class="txt-link" href="tel:15192551117">(519) 255-1117</a></p>
        </div>
      </div>
      <div class="beata-headshot">
        <img src="img/beata-pecko-hdr.png" />
      </div>
    </div>
  </div>
</header>
